table{
    border:solid;
    border-color: black;
    border-collapse: collapse;
}

table th{
    background-color:aqua;
}
table th , td{
    border:solid;
    border-color: black;
}
table tr:nth-child(even){
    background-color:gray;
}
table tr:nth-child(oden){
    background-color:white;
}