body{
    margin: 0px 0px;
}

header{
    background-color: #12AAFF;
    display: flex;
}

.titulo{
    flex:5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 26px;
}
.cerrar_sesion{
    flex:1;
    padding-left: 30px;
    padding-top: 16px;
}
.cerrar_sesion a{
    text-align: center;
    padding-left: 80px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}

.menu{
    background-color: #12AAFF;
    border:solid;
    border-color: transparent;
    width: 120px;
}
.menu ul{
    list-style: none;
    padding-left: 15px;
}
.menu li{
    display: block;
    height: 40px;
}
.menu li a{
    text-decoration: none;
    display: block;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
